form {
	align-items: center;
	display: flex;
	flex-direction: column;
	input {
		margin-bottom: 15px;
		width: 40%;
	}
	div {
		text-align: center;
		flex-direction: column;
		width: 40%;
		display: flex;
		justify-content: space-evenly;
		input {
			width: 100%;
		}
		margin-bottom: 15px;
	}
}
